
@{
    ViewBag.Title = "Cart";
}

<div style="margin-top:20px; margin-left:20px;"><a href="@Url.Action("Index", "Home")" class="btn btn-primary">Back to Home</a></div>
<div class="cart-container">
    @foreach (var product in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <img src="@product.ImageUrl" class="card-img-top" alt="@product.Name" />
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <h6 class="card-subtitle mb-2 text-muted">$@product.ListPrice</h6>
                    @using (Html.BeginForm("RemoveFromCart", "Home", FormMethod.Post, new { id = "store-form" }))
                    {
                        <input type="hidden" name="ProductId" value="@product.Id" />
                        <button type="submit" class="btn btn-danger">Remove</button>
                    }

                </div>
            </div>
        </div>
    }

<div class="text-center mt-4">
    @using (Html.BeginForm("CreateOrder", "Home", FormMethod.Post, new { id = "store-form" }))
    {
        <label for="staff-select">Who Assisted?</label>
        <select class="custom-select" id="staff-select" name="StaffId">
            <option value="" selected></option>
            @foreach (var s in ViewBag.Staff)
            {
                <option value="@s.Id">@s.FirstName</option>
            }
        </select>
        <button type="submit" class="btn btn-success">Create Order</button>
    }
    
</div>
</div>
