@{
    ViewBag.Title = "Home Page";
}

<main>
    <nav class="navbar navbar-expand-sm justify-content-center align-items-center" >
        <div class="index-nav">
            <div class="nav-container">@Html.ActionLink("Register", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</div>
            <div class="nav-container">@Html.ActionLink("Sell", "About", "Home", new { area = "" }, new { @class = "nav-link" })</div>
            <div class="nav-container">@Html.ActionLink("Buy", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</div>
            <div class="nav-container">@Html.ActionLink("My Bikes", "About", "Home", new { area = "" }, new { @class = "nav-link" })</div>
            <div class="nav-container">@Html.ActionLink("Login", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</div>
        </div>
    </nav>
    <div class="index-grid">
        <div class="summery-container">
            <div><h3>Summaries</h3></div>
            <div><p>New Stocks</p></div>
            <div><p>Listed For Sale</p></div>
            <div><p>Total Sold</p></div>
            <div><p>Sales Per Brand</p></div>
            <div><p>Listings Total</p></div>
            <div><p>Average Sales Per Brand</p></div>
            <div><p>Totals Per Brand</p></div>
            <div><p>totals By Stores</p></div>
        </div>
        <div class="index-image-container"></div>
        <div class="brands-container"></div>
        <div class="msg-container"></div>
    </div>
</main>