@{
    ViewBag.Title = "Home Page";
}

<main style="padding:20px">
    <nav class="navbar navbar-expand-sm justify-content-center align-items-center">
        <div class="index-nav">
            <div class="nav-container">@Html.ActionLink("Stores", "Stores", "Home", new { area = "" }, new { @class = "nav-link" })</div>
            @if (Model.isLoggedIn())
            {
                <div class="nav-container">@Html.ActionLink("Sellers", "Sellers", "Home", new { area = "" }, new { @class = "nav-link" })</div>
                <div class="nav-container">@Html.ActionLink("Buyers", "Buyers", "Home", new { area = "" }, new { @class = "nav-link" })</div>
                <div class="nav-container">@Html.ActionLink("My Bikes", "MyBikes", "Home", new { area = "" }, new { @class = "nav-link" })</div>
            }
            <div class="nav-container">@Html.ActionLink("Prices", "Prices", "Home", new { area = "" }, new { @class = "nav-link" })</div>
        </div>
    </nav>
    <div class="index-grid">
        <div class="summery-container">
            <div><h4>Summaries</h4></div>
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            New Stocks
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>@Model.Summary.NewStocks</strong>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Listed For Sale
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>@Model.Summary.ListedForSale</strong>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Total Sold
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>@Model.Summary.TotalSold</strong>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Sales Per Brand
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            @if (Model.Summary.SalesPerBrand != null && Model.Summary.SalesPerBrand.Count > 0)
                            {
                                foreach (var item in Model.Summary.SalesPerBrand)
                                {
                                    <strong>@item.Key:</strong> @item.Value <br />
                                }
                            }
                            else
                            {
                                <p>No sales data available.</p>
                            }
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            Listings Total
                        </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            @if (Model.Summary.ListingsTotal != null && Model.Summary.ListingsTotal.Count > 0)
                            {
                                foreach (var item in Model.Summary.ListingsTotal)
                                {
                                    <strong>@item.Key:</strong> @item.Value <br />
                                }
                            }
                            else
                            {
                                <p>No listings data available.</p>
                            }
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSix">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            Average Sales Per Brand
                        </button>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            @if (Model.Summary.AverageSalesPerBrand != null && Model.Summary.AverageSalesPerBrand.Count > 0)
                            {
                                foreach (var item in Model.Summary.AverageSalesPerBrand)
                                {
                                    <strong>@item.Key:</strong> @item.Value <br />
                                }
                            }
                            else
                            {
                                <p>No sales data available.</p>
                            }
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSeven">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                            Totals Per Brand
                        </button>
                    </h2>
                    <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            @if (Model.Summary.TotalsPerBrand != null && Model.Summary.TotalsPerBrand.Count > 0)
                            {
                                foreach (var brand in Model.Summary.TotalsPerBrand)
                                {
                                    <strong>@brand.Key:</strong><br />
                                    <ul>
                                        @foreach (var item in brand.Value)
                                        {
                                            <li><span> @item.Key: </span> @item.Value <br /></li>

                                        }
                                    </ul>
                                    <br />
                                }
                            }
                            else
                            {
                                <p>No totals data available.</p>
                            }
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingEight">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                            Totals By Stores
                        </button>
                    </h2>
                    <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            @if (Model.Summary.TotalsByStore != null && Model.Summary.TotalsByStore.Count > 0)
                            {
                                foreach (var item in Model.Summary.TotalsByStore)
                                {
                                    <strong>@item.Key:</strong> @item.Value <br />
                                }
                            }
                            else
                            {
                                <p>No store data available.</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="middle-index">
            <div class="index-image-container">
                <div class="index-hero"></div>

            </div>
            <div class="msg-container">
                <div class="categories-container" id="categoriesContainer">
                    <!-- Categories will be displayed here -->
                </div>
            </div>
        </div>


        <div class="brands-container">
            <div class="brands-div"><h4>Brands</h4></div>
            @if (Model.Brands != null)
            {
                foreach (var brand in Model.Brands)
                {
                    <div class="brands-div">
                        <p id="@brand.Id" class="brand-name" onclick="displayCategories('@brand.Name')">@brand.Name</p>
                    </div>
                }
            }
            else
            {
                <div class="brands-div">
                    <p>No brands available.</p>
                </div>
            }

            <div class="brands-div"><h4>Store Locations</h4></div>
            @if (Model.Stores != null)
            {
                foreach (var store in Model.Stores)
                {
                    if(store.Address.getState() != "")
                    {
                        <div class="brands-div">
                            <p id="@store.Id" class="brand-name" onclick="displayStoreProducts('@store.Address.getState()')">@store.Address.getState()</p>
                        </div>
                    }
                }
            }
            else
            {
                <div class="brands-div">
                    <p>No stores available.</p>
                </div>
            }
        </div>

    </div>
</main>

<script>
    function displayCategories(brandName) {
        var categories = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.GetCategoriesPerBrand()));
        var categoryHtml = '';
        var container = document.getElementById('categoriesContainer');
        container.innerHTML = '';
        if (categories[brandName]) {
            for (var category in categories[brandName]) {
                var imageUrl = categories[brandName][category].Item1;
                var productId = categories[brandName][category].Item2;
                var productUrl = `/Home/Product?id=${productId}`;
                categoryHtml +=  `<div class="card" style="width: 18rem; height: 300px;" >
                                      <img class="card-img-top category-image" src="${imageUrl}" alt="${category}">
                                      <div class="card-body">
                                        <h5 class="card-title">${category}</h5>
                                        <a href="${productUrl}" class="btn btn-primary">See Product</a>
                                      </div>
                                    </div>`;
            }
            document.getElementById('categoriesContainer').innerHTML = categoryHtml;
        } else {
            document.getElementById('categoriesContainer').innerHTML = '<p>No categories available for this brand.</p>';
        }
    }

   function displayStoreProducts(storeState) {
    var storeInfo = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.GetProductsInStockByStore()));
    var stores = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Stores));
    var storeNames = [];
    var container = document.getElementById('categoriesContainer');
    container.innerHTML = '';
    stores.forEach(function (store) {
        if (store.Address.State === storeState) {
            storeNames.push(store.Name);
        }
    });
    var categoryHtml = '';
    storeNames.forEach(function (name) {
        if (storeInfo[name]) {
            storeInfo[name].Item2.forEach(function (product) {
                var imageUrl = product.ImageUrl;  
                var productId = product.Id;      
                var productUrl = `/Home/Product?id=${productId}`; 
                categoryHtml += `<div class="card" style="width: 20rem; height: 450px;">
                        <img class="card-img-top category-image" src="${imageUrl}" alt="${product.Name}">
                        <div class="card-body">
                            <h5 class="card-title">${product.Name}</h5>
                            <p>Sold by ${name}</P>
                            <a href="${productUrl}" class="btn btn-primary">See Product</a>
                        </div>
                    </div>`;
            });
        }
    });
    if (categoryHtml.length > 0) {
        document.getElementById('categoriesContainer').innerHTML = categoryHtml;
    } else {
        document.getElementById('categoriesContainer').innerHTML = '<p>No products available for this store.</p>';
    }
}

</script>



