
@{
    ViewBag.Title = "SearchProducts";
}

@{
    ViewBag.Title = "MyBikes";
}

<div style="display:flex; flex-direction:column; gap:30px; justify-content:center; align-items:center; padding:20px;">
    <div>
        <h2>Search Results</h2>
    </div>
    <div style="display:flex; justify-content:center; align-items:center;">
        <div class="msg-container">
            <div class="categories-container" id="categoriesContainer">
                @foreach (var bike in Model)
                {
                    <div class="card" style="width: 20rem; height: 450px;">
                        <img class="card-img-top category-image" src="@bike.ImageUrl" alt="@bike.Name">
                        <div class="card-body">
                            <h5 class="card-title">@bike.Name</h5>
                            <p>Brand: @bike.BrandName</p>
                            <p>$ @bike.ListPrice</p>
                            <a href="/Home/ProductView?id=@bike.Id" class="btn btn-primary">See Product</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>



