
@{
    ViewBag.Title = "Seller";
}

<div class="buyer-container">
    <div class="buyer-control-container">
        @using (Html.BeginForm("SellerSearch", "Home", FormMethod.Post, new { id = "search-form", @class = "buyer-control-container" }))
        {
            <div style="width:20vw;">
                <div class="form-group">
                    <label for="country-select">Filter By Country</label>
                    <select class="custom-select" id="country-select">
                        <option value="" selected></option>
                        <option value="United States">United States</option>
                        <option value="South Africa">South Africa</option>
                    </select>
                </div>
            </div>

            <div id="province-filter" style="display: none; width: 20vw;">
                <div class="form-group">
                    <label for="province-select">Filter By Province></label>
                    <select class="custom-select" id="province-select">
                        <option value="" selected></option>
                    </select>
                </div>
            </div>

            <div id="state-filter" style="display: none; width: 20vw;">
                <div class="form-group">
                    <label for="state-select">Filter By State></label>
                    @Html.DropDownList("State", new SelectList(ViewBag.States, "Abr", "Name"), "Choose...", new { @class = "custom-select", id = "state-select" })
                </div>
            </div>

            <div style="width:20vw;">
                <div class="form-group">
                    <label for="year-select">Filter By Year</label>
                    @Html.DropDownList("Year", new SelectList(ViewBag.DistinctYears), "Choose...", new { @class = "custom-select", id = "year-select" })
                </div>

                <div class="form-group">
                    <label for="month-select">Filter By Month</label>
                    <select class="custom-select" id="month-select">
                        <option value="" selected></option>
                    </select>
                </div>
            </div>

            <div style="width: 20vw;">
                <button type="submit" id="search-button" class="btn btn-primary">Search</button>
            </div>
        }
    </div>
    <div>
        <div style="display:flex; justify-content:center; align-items:center;">
            <div class="msg-container">
                <div class="categories-container" id="categoriesContainer">
                    @foreach (var seller in ViewBag.Sellers)
                    {
                        if (ViewBag.Country == "South Africa")
                        {
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">@seller.StoreName</h5>
                                    <p class="card-text">Location: @seller.StoreAddress.State}</p>
                                    <p class="card-text">Order Date: @seller.OrderDate</p>
                                    <p class="card-text">Product Brand: @seller.Product.BrandName</p>
                                    <p class="card-text">Sold: @seller.Product.Name for @seller.Product.ListPrice</p>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="card" style="width: 20rem;">
                                <div class="card-body">
                                    <h5 class="card-title">@seller.StoreName</h5>
                                    <p class="card-text">Sold:@seller.Product.Name</p>
                                    <p class="card-text">Location: @seller.StoreAddress.State</p>
                                    <p class="card-text">Order Date: @seller.OrderDate</p>
                                </div>
                            </div>
                        }

                    }
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    var selectedYear = null;
    var selectedMonth = null;
    var selectedLocation = null;

    document.getElementById('country-select').addEventListener('change', function () {
        var country = this.value;

        var stateSelect = document.getElementById('state-filter');
        var provinceSelect = document.getElementById('province-filter');

        if (country === 'United States') {
            stateSelect.style.display = 'block';
            provinceSelect.style.display = 'none';
        } else if (country === 'South Africa') {
            stateSelect.style.display = 'none';
            provinceSelect.style.display = 'block';
        } else {
            stateSelect.style.display = 'none';
            provinceSelect.style.display = 'none';
        }
    });

    // Function to populate the month select dropdown
    function populateMonthSelect() {
        const monthSelect = document.getElementById('month-select');
        const months = [
            { id: 1, name: 'Jan' },
            { id: 2, name: 'Feb' },
            { id: 3, name: 'Mar' },
            { id: 4, name: 'Apr' },
            { id: 5, name: 'May' },
            { id: 6, name: 'Jun' },
            { id: 7, name: 'Jul' },
            { id: 8, name: 'Aug' },
            { id: 9, name: 'Sep' },
            { id: 10, name: 'Oct' },
            { id: 11, name: 'Nov' },
            { id: 12, name: 'Dec' }
        ];
        months.forEach(month => {
            const option = document.createElement('option');
            option.value = month.id; 
            option.id = month.id; 
            option.textContent = month.name; 
            monthSelect.appendChild(option);
        });
    }

    // Function to populate the province select dropdown
    function populateProvinceSelect() {
        const provinceSelect = document.getElementById('province-select');
        const provinces = [
            { id: 'EC', name: 'Eastern Cape' },
            { id: 'FS', name: 'Free State' },
            { id: 'GP', name: 'Gauteng' },
            { id: 'KZN', name: 'KwaZulu-Natal' },
            { id: 'LP', name: 'Limpopo' },
            { id: 'MP', name: 'Mpumalanga' },
            { id: 'NC', name: 'Northern Cape' },
            { id: 'NW', name: 'North West' },
            { id: 'WC', name: 'Western Cape' }
        ];
        provinces.forEach(province => {
            const option = document.createElement('option');
            option.value = province.id;
            option.id = province.id;
            option.textContent = `${province.name} (${province.id})`;
            provinceSelect.appendChild(option);
        });
    }

    populateProvinceSelect();
    populateMonthSelect();
</script>




