
@{
    ViewBag.Title = "ViewBikes";
}

<div class="buyer-container">
    <div class="buyer-control-container">
        <div style="width:20vw;">
            <div class="form-group">
                <label for="country-select">Filter By Country</label>
                <select class="custom-select" id="country-select">
                    <option selected id="default" value="default">Choose...</option>
                    <option value="United States">United States</option>
                    <option value="South Africa">South Africa</option>
                </select>
            </div>
        </div>
        <div id="province-filter" style="display: none; width: 20vw;">
            <div class="form-group">
                <label for="province-select">Filter By <span>Province</span></label>
                <select class="custom-select" id="province-select">
                    <option selected id="default" value="default">Choose...</option>
                    <option id="EC" value="EC">Eastern Cape (EC)</option>
                    <option id="FS" value="FS">Free State (FS)</option>
                    <option id="GP" value="GP">Gauteng (GP)</option>
                    <option id="KZN" value="KZN">KwaZulu-Natal (KZN)</option>
                    <option id="LP" value="LP">Limpopo (LP)</option>
                    <option id="MP" value="MP">Mpumalanga (MP)</option>
                    <option id="NC" value="NC">Northern Cape (NC)</option>
                    <option id="NW" value="NW">North West (NW)</option>
                    <option id="WC" value="WC">Western Cape (WC)</option>
                </select>
            </div>
        </div>
        <div id="state-filter" style="display: none; width: 20vw;">
            <div class="form-group">
                <label for="state-select">Filter By <span>State</span></label>
                <select class="custom-select" id="state-select">
                    <option selected id="default" value="default">Choose...</option>
                    <option id="AL" value="AL">Alabama (AL)</option>
                    <option id="AK" value="AK">Alaska (AK)</option>
                    <option id="AZ" value="AZ">Arizona (AZ)</option>
                    <option id="AR" value="AR">Arkansas (AR)</option>
                    <option id="CA" value="CA">California (CA)</option>
                    <option id="CO" value="CO">Colorado (CO)</option>
                    <option id="CT" value="CT">Connecticut (CT)</option>
                    <option id="DE" value="DE">Delaware (DE)</option>
                    <option id="FL" value="FL">Florida (FL)</option>
                    <option id="GA" value="GA">Georgia (GA)</option>
                    <option id="HI" value="HI">Hawaii (HI)</option>
                    <option id="ID" value="ID">Idaho (ID)</option>
                    <option id="IL" value="IL">Illinois (IL)</option>
                    <option id="IN" value="IN">Indiana (IN)</option>
                    <option id="IA" value="IA">Iowa (IA)</option>
                    <option id="KS" value="KS">Kansas (KS)</option>
                    <option id="KY" value="KY">Kentucky (KY)</option>
                    <option id="LA" value="LA">Louisiana (LA)</option>
                    <option id="ME" value="ME">Maine (ME)</option>
                    <option id="MD" value="MD">Maryland (MD)</option>
                    <option id="MA" value="MA">Massachusetts (MA)</option>
                    <option id="MI" value="MI">Michigan (MI)</option>
                    <option id="MN" value="MN">Minnesota (MN)</option>
                    <option id="MS" value="MS">Mississippi (MS)</option>
                    <option id="MO" value="MO">Missouri (MO)</option>
                    <option id="MT" value="MT">Montana (MT)</option>
                    <option id="NE" value="NE">Nebraska (NE)</option>
                    <option id="NV" value="NV">Nevada (NV)</option>
                    <option id="NH" value="NH">New Hampshire (NH)</option>
                    <option id="NJ" value="NJ">New Jersey (NJ)</option>
                    <option id="NM" value="NM">New Mexico (NM)</option>
                    <option id="NY" value="NY">New York (NY)</option>
                    <option id="NC" value="NC">North Carolina (NC)</option>
                    <option id="ND" value="ND">North Dakota (ND)</option>
                    <option id="OH" value="OH">Ohio (OH)</option>
                    <option id="OK" value="OK">Oklahoma (OK)</option>
                    <option id="OR" value="OR">Oregon (OR)</option>
                    <option id="PA" value="PA">Pennsylvania (PA)</option>
                    <option id="RI" value="RI">Rhode Island (RI)</option>
                    <option id="SC" value="SC">South Carolina (SC)</option>
                    <option id="SD" value="SD">South Dakota (SD)</option>
                    <option id="TN" value="TN">Tennessee (TN)</option>
                    <option id="TX" value="TX">Texas (TX)</option>
                    <option id="UT" value="UT">Utah (UT)</option>
                    <option id="VT" value="VT">Vermont (VT)</option>
                    <option id="VA" value="VA">Virginia (VA)</option>
                    <option id="WA" value="WA">Washington (WA)</option>
                    <option id="WV" value="WV">West Virginia (WV)</option>
                    <option id="WI" value="WI">Wisconsin (WI)</option>
                    <option id="WY" value="WY">Wyoming (WY)</option>
                </select>
            </div>
        </div>
        <div style="width:20vw;">
            <div class="form-group">
                <label for="brand-select">Filter By Brand</label>
                <select class="custom-select" id="brand-select">
                    <option selected value="default">Choose...</option>
                    @foreach (var brand in ViewBag.BrandNames)
                    {
                        <option value="@brand">@brand</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="category-select">Filter By Category</label>
                <select class="custom-select" id="category-select">
                    @foreach (var category in ViewBag.CategoryNames)
                    {
                        <option value="@category">@category</option>
                    }
                </select>
            </div>
        </div>
        <div style="width: 20vw;">
            <div class="form-group">
                <label for="price-range">Filter By Price</label>
                <input type="range" class="form-control-range" id="price-range" min="0" max="5000" step="10">
                <p>Selected Price Range: <span id="currency-text-symbol">$</span><span id="price-range-value">0</span></p>
            </div>
            <div class="form-group">
                <label for="currency-toggle">Currency</label>
                <select class="custom-select" id="currency-toggle">
                    <option value="usd" selected>USD ($)</option>
                    <option value="zar">ZAR (R)</option>
                </select>
            </div>
        </div>
    </div>
    <div>
        <div style="display:flex; justify-content:center; align-items:center;">
            <div class="msg-container">
                <div class="categories-container" id="categoriesContainer">
                    <!-- Buyers will be displayed here -->
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    var selectedLocation = null;
    var selectedPrice = null;
    var selectedBrand = null;
    var selectedCategory = null;
    var selectedPrice = 5000; 
    var selectedCurrency = 'usd';
    const usdToZarRate = 17.21; 

    document.getElementById('country-select').addEventListener('change', function () {
        var country = this.value;

        var stateSelect = document.getElementById('state-filter');
        var provinceSelect = document.getElementById('province-filter');

        if (country === 'United States') {
            stateSelect.style.display = 'block';
            provinceSelect.style.display = 'none';
        } else if (country === 'South Africa') {
            stateSelect.style.display = 'none';
            provinceSelect.style.display = 'block';
        } else {
            stateSelect.style.display = 'none';
            provinceSelect.style.display = 'none';
        }
    });

    document.getElementById('state-select').addEventListener('change', function () {
        var selectElement = document.getElementById('state-select');
        selectedLocation = selectElement.value;
        selectedLocation = selectedLocation === 'default' ? null : selectedLocation;
        filterBikes();
    });

    document.getElementById('province-select').addEventListener('change', function () {
        var selectElement = document.getElementById('province-select');
        selectedLocation = selectElement.value;
        selectedLocation = selectedLocation === 'default' ? null : selectedLocation;
        filterBikes();

    });

    document.getElementById('brand-select').addEventListener('change', function () {
        var selectElement = document.getElementById('brand-select');
        selectedBrand = selectElement.value;
        filterBikes();
    });

    document.getElementById('category-select').addEventListener('change', function () {
        var selectElement = document.getElementById('category-select');
        selectedCategory = selectElement.value;
        filterBikes();
    });

    document.getElementById('price-range').addEventListener('input', function () {
        selectedPrice = this.value;
        document.getElementById('price-range-value').innerText = selectedPrice;
        filterBikes();
    });

    document.getElementById('currency-toggle').addEventListener('change', function () {
        var selectElement = document.getElementById('currency-toggle');
        selectedCurrency = selectElement.value;
        if (selectedCurrency == "usd") {
            document.getElementById("currency-text-symbol").innerText = "$";
        } else {
            document.getElementById("currency-text-symbol").innerText = "R";
        }
        filterBikes();
    });

    // Function to filter buyers based on selected filters
    function filterBikes() {
        var bikes = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Products));
        var filteredBikes = bikes;
        // Filter by brand
        if (selectedBrand) {
            filteredBikes = filteredBikes.filter(function (bike) {
                return bike.BrandName == selectedBrand;
            });
        }
        // Filter by category
        if (selectedCategory) {
            filteredBikes = filteredBikes.filter(function (bike) {
                return bike.CategoryName == selectedCategory;
            });
        }

        // Filter by location (state/province)
        if (selectedLocation) {
            var stocks = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Stocks)); 
            var stores = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Stores)); 
            filteredBikes = filteredBikes.filter(function (bike) {
                var bikeStocks = stocks.filter(stock => stock.ProductId === bike.Id);
                return bikeStocks.some(stock => {
                    var store = stores.find(store => store.Id === stock.StoreId);
                    return store && store.Address.State === selectedLocation; 
                });
            });
        }

        filteredBikes = filteredBikes.filter(function (bike) {
            var price = bike.ListPrice;
            if (selectedCurrency === 'zar') {
                price *= usdToZarRate; // Convert to ZAR
            }
            return price <= selectedPrice;
        });

        displayFilteredBikes(filteredBikes);
    }

    // Function to display the filtered bikes
    function displayFilteredBikes(bikes) {
        var container = document.getElementById('categoriesContainer');
        container.innerHTML = '';

        if (bikes.length === 0) {
            container.innerHTML = '<p>No bikes found matching the criteria.</p>';
        } else {
            bikes.forEach(function (bike) {
                var displayPrice = selectedCurrency === 'zar' ? bike.ListPrice * usdToZarRate : bike.ListPrice;
                var currencySymbol = selectedCurrency === 'zar' ? 'R' : '$';
                container.innerHTML += `<div class="card" style="width: 20rem; height: 450px;">
                        <img class="card-img-top category-image" src="${bike.ImageUrl}" alt="${bike.Name}">
                        <div class="card-body">
                            <h5 class="card-title">${bike.Name}</h5>
                            <p>Brand: ${bike.BrandName}</P>
                            <p>${currencySymbol} ${displayPrice.toFixed(2)}</P>
                            <a href="/Home/Product?id=${bike.Id}" class="btn btn-primary">See Product</a>
                        </div>
                    </div>`;
            });
        }
    }
</script>

